html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title URL to shortcode service
    link(rel='stylesheet', href='style.css')
  body
    h1 URL shortener Microservice
    h3 provide a url, get a short code which will redirect to your original url when requested from this site.
    h3 input examples:
    p blah
    h3 usage examples:
    p blah